# Python
__pycache__/
*.py[cod]
*$py.class

# Build artifacts
build/
dist/
*.egg-info/
*.egg
*.whl

# Virtual environment
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# Sphinx documentation
docs/_build/

# Pytest
.pytest_cache/
htmlcov/
.coverage
coverage.xml

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# OS-specific
.DS_Store
Thumbs.db